@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Montserrat", sans-serif  !important;
}
:root{
    --green: #157360;
    --br-l: 24px;
    --br-m: 12px;
    --br-s: 8px;
    --blue:#17252a;

}
.container{
    padding: 0 20px;
    max-width: 1400px;
    margin: auto;
}
a {
  text-decoration: none;
}

ul {
  margin-bottom: 0;
  padding-left: 0;
}
.section-title{
  font-size: 42px;
  margin-bottom: 25px;
  font-weight: bold;
  color: var(--blue)
}
body {
  background-color: #e1e1e1;
}
header{
    background-color: #e1e1e1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    border-radius: var(--br-l);
}

.header nav ul.main-nav {
  display: flex;
  justify-content: center;
}
.main-nav .btn {
  border: none;
  box-shadow: none;
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header nav ul li a,
.main-nav .btn {
  padding: 10px 20px;
  display: inline-block;
  color: #161616;
  font-size: 15px;
  font-weight: 600;
  transition: all 0.3s;
  &:hover {
    background-color: var(--green);
    color: #fff;
  }
}

.langs a{
  color: #161616;
  font-size: 15px;
  font-weight: 600;
}
.dropdown-menu {
  background-color: #e1e1e1;
}
.static-text li::marker {
  color: var(--green);
}
.banner{
  position: relative;
  min-height: 100vh;
}
.banner-top{
  background-color: var(--blue);
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
  height: 90px;
  border-radius: var(--br-l) !important;
  padding: 0 30px;
  position: absolute;
  z-index: 10;
  max-width: 1400px;
  width: 100%;
  margin: auto;
  left: 50%;
  transform: translateX(-50%);
  top: 50px;
}
.banner-top img{
  width: 230px;
  height: auto;
  object-fit: contain;
}
.icons svg{
  width: 16px;
  height: 16px;
}
.icons a{
  padding: 8px;
  border: 1px solid #e4e8ed87;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--br-s);
  transition: .4s ease;
}
.icons a:hover{
  border-color: #fff;
}
.icons{
  display: flex;
  gap: 10px;
}
.banner-top div{
  display: flex;
  gap: 10px;
  align-items: center;
}
.btn{
  color: #fff;
  font-weight: bold;
      display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    vertical-align: top;
    padding-top: 17px;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-left: 20px;
    position: relative;
    text-decoration-line: none;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: auto;
    transition-property: all;
    transition-duration: 600ms;
    transition-delay: 0ms;
    transition-timing-function: ease;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    flex-shrink: 1;
    background-color: var(--green);
    min-height: auto;
    background-image: none;
    background-repeat: repeat;
    background-position: 0 0;
    background-size: auto;
    background-attachment: scroll;
    margin-top: 0px;
    margin-bottom: 0px;
    border-top-left-radius: var(--br-m);
    border-top-right-radius: var(--br-m);
    border-bottom-right-radius: var(--br-m);
    border-bottom-left-radius: var(--br-m);
    justify-content: center;
    min-width: 200px;
    border: 2px solid var(--green)
}
.btn:hover{
  background-color: transparent
}
.hero {
  height: 100vh;
  overflow: hidden;
  border-radius: var(--br-l) !important;
  margin: 0 10px;
  position: relative;
  padding-top: 35px;
}

.hero-slider {
  height: 100%;
  overflow: hidden;
}
.hero-track {
  display: flex;
  height: 100%;
  transition: transform 1s cubic-bezier(.4,0,.2,1);
}
.hero-slide {
  min-width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
}

.hero-slide img {
  grid-area: 1 / 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-slide::after {
  content: "";
  grid-area: 1 / 1;
  background: rgba(0, 0, 0, 0.46);
}

.hero-inner {
  grid-area: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* content */
.hero-content {
  max-width: 1000px;
  padding: 0 80px;
  color: #fff;
}

.hero-content h1 {
  font-size: 42px;
  line-height: 1.05;
  font-weight: 700;
  margin: 0 0 15px;
  position: relative;
}

.hero-subtitle {
  font-size: 20px;
  opacity: .9;
  margin-bottom: 32px;
  position: relative;
}

.hero-desc {
  font-size: 16px;
  opacity: .75;
  margin-top: 50px;

}

.hero-btn {
  display: inline-flex;
  align-items: center;
  gap: 14px;
  padding: 16px 28px;
  background: var(--blue);
  color: #fff;
  border-radius: var(--br-m);
  font-weight: 600;
  text-decoration: none;
  transition: .3s;
  position: absolute;
  right: 80px;
  bottom:5%
}

.hero-btn i {
  width: 34px;
  height: 34px;
  border-radius: 10px;
  background: var(--green);
  display: grid;
  place-items: center;
}
.hero-btn:hover span{
  color: var(--green)
}
.hero-nav {
  position: absolute;
  bottom: 5%;
  left: 80px;
  display: flex;
  gap: 12px;
}

.hero-nav button {
  width: 44px;
  height: 44px;
  border-radius: var(--br-m);
  background: rgba(255,255,255,.15);
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  border: 1px solid #e4e8ed87;
  transition: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-nav button:hover {
  background: rgba(255,255,255,.3);
  border-color: #fff
}
.about {
  padding: 60px 0;
}

.about-inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  align-items: center;
}

.about p {
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 48px;
}

.about-btn {
  display: inline-flex;
  align-items: center;
  gap: 14px;
}

.about-media {
  position: relative;
  height: 480px;
  border-radius: var(--br-l);
  overflow: hidden;
}
.all_posts {
  line-height: 1;
  text-decoration: none;
  display: inline-flex;
  border: none;
  cursor: pointer;
  align-items: center;
  gap: 0.75rem;
  background-color: var(--clr);
  color: #fff;
  border-radius: var(--br-l);
  font-weight: 600;
  padding: 0.75rem 1.5rem;
  padding-left: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: background-color 0.3s;
  border: 1px solid var(--clr);
}

.all_posts_icon_wrapper {
  flex-shrink: 0;
  width: 25px;
  height: 25px;
  position: relative;
  color: var(--clr);
  background-color: #fff;
  border-radius: var(--br-l);
  display: grid;
  place-items: center;
  overflow: hidden;
}

.all_posts:hover {
  background-color: #000;
}

.all_posts:hover .all_posts_icon_wrapper {
  color: #000;
}

.button__icon-svg--copy {
  position: absolute;
  transform: translate(-150%, 150%);
}

.all_posts:hover .button__icon-svg:first-child {
  transition: transform 0.3s ease-in-out;
  transform: translate(150%, -150%);
}

.all_posts:hover .button__icon-svg--copy {
  transition: transform 0.3s ease-in-out 0.1s;
  transform: translate(0);
}

:is(footer, .contact_wrapper) .socialContainer {
  border-radius: 12px;
}
.about-media img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about .icons {
  position: absolute;
  left:0;
  bottom:0;
  display: flex;
  flex-direction: column;
  gap: 12px;
  background: var(--blue);
  padding: 10px;
  border-radius: var(--br-m)
}

.about-icons a {
  width: 42px;
  height: 42px;
  border-radius: 12px;
  background: rgba(0,0,0,.55);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 18px;
  transition: .3s;
}

.about-icons a:hover {
  background: rgba(0,0,0,.8);
}

#advantages {
  padding: 60px 0;
}
.advantages {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

@keyframes flipInY {
  0% {
    transform: perspective(600px) rotateY(90deg);
    opacity: 0;
  }

  40% {
    transform: perspective(600px) rotateY(-20deg);
  }

  60% {
    transform: perspective(600px) rotateY(10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(600px) rotateY(-5deg);
  }

  100% {
    transform: perspective(600px) rotateY(0deg);
  }
}

.advantage {
  background-color: var(--blue);
  height: 250px;
  border-radius: 25px;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items:center;
  padding: 0 20px;
}

.advantage:hover {
  background-color: var(--green);
}

.advantage-inner {
  color: #fff;
  font-size: 15px;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.advantage p{
  font-size: 16px;
  line-height: 1.2;
}
.advantage:hover .advantage-inner {
  animation: flipInY 0.8s ease-out;
}

@keyframes flipInY {
  0% {
    transform: perspective(600px) rotateY(90deg);
    opacity: 0;
  }
  60% {
    transform: perspective(600px) rotateY(-10deg);
    opacity: 1;
  }
  100% {
    transform: perspective(600px) rotateY(0);
  }
}




.adv-icon {
  display: inline-block;
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
  svg {
    width: 100%;
    height: 100%;
  }
}
.adv-number {
  font-size: 23px !important;
  font-weight: bold;
}
#texts {
  padding: 60px 0;
  border-radius: var(--br-l);
}
.texts-content {
  font-size: 17px;
  color: #161616;
  margin-bottom: 30px;
  p {
    margin-bottom: 0;
  }
}
