@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Montserrat", sans-serif  !important;
}
:root{
    --green: #157360;
    --br-l: 24px;
    --br-m: 12px;
    --br-s: 8px;
    --blue:#17252a;
    --light-green: #0dcbb8;
    


}
.container{
    padding: 0 20px;
    max-width: 1400px;
    margin: auto;
}
a {
  text-decoration: none;
  color: #333
}

ul {
  margin-bottom: 0;
  padding-left: 0;
}
.section-title{
  font-size: 38px;
  margin-bottom: 25px;
  font-weight: bold;
  color: var(--blue);
  text-transform: uppercase;
}
body {
  background-color: #e1e1e1;
}
html {
  scroll-behavior: smooth;
}
header{
    background-color: #e1e1e1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}
header.scrolled{
  box-shadow:10px -6px 15px black
}
.header nav ul.main-nav {
  display: flex;
  justify-content:center;
}
header .location{
  display: flex;
  max-width: 260px;
  color: #333;
  font-weight: bold;
  align-items: center;
  margin: 0;
  font-size: 13px;
}
header .location svg{
  width: 30px !important;
  height: 30px !important;
  fill: var(--green)
}
header .location svg path{
fill: var(--green) !important;
}
header svg{
  width: 20px;
  height: 20px;
}
.header > a{
  font-size: 13px;
  display: flex;
  gap: 5px;
  font-weight: bold;
  align-items: center;
}
.header > a svg path{
  fill: var(--green)
}
.main-nav .btn {
  border: none;
  box-shadow: none;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header nav ul li a,
.main-nav .btn {
  padding: 10px 20px;
  display: inline-block;
  color: #161616;
  font-size: 15px;
  font-weight: 600;
  transition: all 0.3s;
  &:hover {
    background-color: var(--green);
    color: #fff;
  }
}

.langs a{
  color: #161616;
  font-size: 15px;
  font-weight: 600;
}
.dropdown-menu {
  background-color: #e1e1e1;
}
.static-text li::marker {
  color: var(--green);
}
.banner{
  position: relative;
  min-height: 100vh;
}
.banner-top{
  background-color: var(--blue);
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
  height: 90px;
  border-radius: var(--br-l) !important;
  padding: 0 30px;
  position: absolute;
  z-index: 10;
  max-width: 1400px;
  width: 100%;
  margin: auto;
  left: 50%;
  transform: translateX(-50%);
  top: 50px;
}
.banner-top img, .footer-cta img{
  width: 230px;
  height: auto;
  object-fit: contain;
}
.icons svg{
  width: 16px;
  height: 16px;
}
.icons a{
  padding: 8px;
  border: 1px solid #e4e8ed87;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--br-s);
  transition: .4s ease;
}
.icons a:hover{
  border-color: #fff;
}
.icons{
  display: flex;
  gap: 10px;
}
.banner-top div , .footer-cta div{
  display: flex;
  gap: 10px;
  align-items: center;
}
.btn{
  color: #fff;
  font-weight: bold;
      display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    vertical-align: top;
    padding-top: 17px;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-left: 20px;
    position: relative;
    text-decoration-line: none;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: auto;
    transition-property: all;
    transition-duration: 600ms;
    transition-delay: 0ms;
    transition-timing-function: ease;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    flex-shrink: 1;
    background-color: var(--green);
    min-height: auto;
    background-image: none;
    background-repeat: repeat;
    background-position: 0 0;
    background-size: auto;
    background-attachment: scroll;
    margin-top: 0px;
    margin-bottom: 0px;
    border-top-left-radius: var(--br-m);
    border-top-right-radius: var(--br-m);
    border-bottom-right-radius: var(--br-m);
    border-bottom-left-radius: var(--br-m);
    justify-content: center;
    min-width: 200px;
    border: 2px solid var(--green)
}
.btn:hover{
  background-color: transparent
}
.hero {
  height: 100vh;
  overflow: hidden;
  border-radius: var(--br-l) !important;
  margin: 0 10px;
  position: relative;
  padding-top: 35px;
}

.hero-slider {
  height: 100%;
  overflow: hidden;
}
.hero-track {
  display: flex;
  height: 100%;
  transition: transform 1s cubic-bezier(.4,0,.2,1);
}
.hero-slide {
  min-width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
}

.hero-slide img {
  grid-area: 1 / 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-slide::after {
  content: "";
  grid-area: 1 / 1;
  background: rgba(0, 0, 0, 0.46);
}

.hero-inner {
  grid-area: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* content */
.hero-content {
  max-width: 1000px;
  padding: 0 80px;
  color: #fff;
}

.hero-content h1 {
  font-size: 42px;
  line-height: 1.05;
  font-weight: 700;
  margin: 0 0 15px;
  position: relative;
}

.hero-subtitle {
  font-size: 20px;
  opacity: .9;
  margin-bottom: 32px;
  position: relative;
}

.hero-desc {
  font-size: 16px;
  opacity: .75;
  margin-top: 50px;

}

.hero-btn {
  display: inline-flex;
  align-items: center;
  gap: 14px;
  padding: 16px 28px;
  background: var(--blue);
  color: #fff;
  border-radius: var(--br-m);
  font-weight: 600;
  text-decoration: none;
  transition: .3s;
  position: absolute;
  right: 80px;
  bottom:5%
}

.hero-btn i {
  width: 34px;
  height: 34px;
  border-radius: 10px;
  background: var(--green);
  display: grid;
  place-items: center;
}
.hero-btn:hover span{
  color: var(--green)
}
.all_posts{
  border-radius:var(--br-s) !important;
  background-color: var(--blue) !important;
  border-color: var(--blue) !important
}
.all_posts .all_posts_icon_wrapper{
  background-color: var(--green) !important;
  color: #fff !important;
  border-radius: var(--br-s) !important
}
.hero-nav {
  position: absolute;
  bottom: 5%;
  left: 80px;
  display: flex;
  gap: 12px;
}

.hero-nav button {
  width: 50px;
    height: 50px;
    border-radius: var(--br-m);
    background: rgba(255, 255, 255, .15);
    color: #fff;
    font-size: 34px;
    cursor: pointer;
    border: 1px solid #e4e8ed87;
    transition: .3s;
    display: flex;
    justify-content: center;
    text-align: center;
}

.hero-nav button:hover {
  background: rgba(255,255,255,.3);
  border-color: #fff
}
.about {
  padding: 60px 0;
}

.about-inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  align-items: center;
}

.about p {
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 48px;
}

.about-btn {
  display: inline-flex;
  align-items: center;
  gap: 14px;
}

.about-media {
  position: relative;
  height: 480px;
  border-radius: var(--br-l);
  overflow: hidden;
}
.all_posts {
  line-height: 1;
  text-decoration: none;
  display: inline-flex;
  border: none;
  cursor: pointer;
  align-items: center;
  gap: 0.75rem;
  background-color: var(--clr);
  color: #fff;
  border-radius: var(--br-l);
  font-weight: 600;
  padding: 0.75rem 1.5rem;
  padding-left: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: background-color 0.3s;
  border: 1px solid var(--clr);
}

.all_posts_icon_wrapper {
  flex-shrink: 0;
  width: 25px;
  height: 25px;
  position: relative;
  color: var(--clr);
  background-color: #fff;
  border-radius: var(--br-l);
  display: grid;
  place-items: center;
  overflow: hidden;
}

.all_posts:hover {
  background-color: #000;
}

.all_posts:hover .all_posts_icon_wrapper {
  color: #000;
}

.button__icon-svg--copy {
  position: absolute;
  transform: translate(-150%, 150%);
}

.all_posts:hover .button__icon-svg:first-child {
  transition: transform 0.3s ease-in-out;
  transform: translate(150%, -150%);
}

.all_posts:hover .button__icon-svg--copy {
  transition: transform 0.3s ease-in-out 0.1s;
  transform: translate(0);
}

:is(footer, .contact_wrapper) .socialContainer {
  border-radius: 12px;
}
.about-media img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about .icons {
  position: absolute;
  left:0;
  bottom:0;
  display: flex;
  flex-direction: column;
  gap: 12px;
  background: var(--blue);
  padding: 10px 15px;
  border-radius: var(--br-m)
}
.about .icons svg{
  width: 21px;
  height: 21px;
}
.about-icons a {
  width: 42px;
  height: 42px;
  border-radius: 12px;
  background: rgba(0,0,0,.55);
  color: #fff;
  display: flex;
  padding: 12px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 18px;
  transition: .3s;
}

.about-icons a:hover {
  background: rgba(0,0,0,.8);
}

#advantages {
  padding: 60px 0;
}
.advantages {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

@keyframes flipInY {
  0% {
    transform: perspective(600px) rotateY(90deg);
    opacity: 0;
  }

  40% {
    transform: perspective(600px) rotateY(-20deg);
  }

  60% {
    transform: perspective(600px) rotateY(10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(600px) rotateY(-5deg);
  }

  100% {
    transform: perspective(600px) rotateY(0deg);
  }
}

.advantage {
  background-color: var(--blue);
  height: 250px;
  border-radius: 25px;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items:center;
  padding: 0 20px;
}
.advantage svg{
  width: 40px;
  height: 40px;
}

.advantage:hover {
  background-color: var(--green);
}

.advantage-inner {
  color: #fff;
  font-size: 15px;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.advantage p{
  font-size: 16px;
  line-height: 1.2;
}
.advantage:hover .advantage-inner {
  animation: flipInY 0.8s ease-out;
}

@keyframes flipInY {
  0% {
    transform: perspective(600px) rotateY(90deg);
    opacity: 0;
  }
  60% {
    transform: perspective(600px) rotateY(-10deg);
    opacity: 1;
  }
  100% {
    transform: perspective(600px) rotateY(0);
  }
}

#map{
  height: 400px;
  width: 100%;
  border-radius: var(--br-l)
}
#map{
  border-radius: var(--br-l)
}


.adv-icon {
  display: inline-block;
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
  svg {
    width: 100%;
    height: 100%;
  }
}
.adv-number {
  font-size: 23px !important;
  font-weight: bold;
}
#texts {
  padding: 60px 0;
  border-radius: var(--br-l);
}
.texts-content {
  font-size: 17px;
  color: #161616;
  margin-bottom: 30px;
  p {
    margin-bottom: 0;
  }
}
.products-section {
  padding: 60px 0;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

.product-card {
  position: relative;
  border-radius: var(--br-l);
  overflow: hidden;
  height: 300px;
  cursor: pointer;
}

.product-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.6s ease;
}

.product-overlay {
  position: absolute;
  inset: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: rgba(0, 0, 0, 0.575);
}
.products-grid .all_posts{
  width: fit-content;
}
.product-overlay h3 {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 16px;
  line-height: 1.2;
}



#direction {
  padding: 60px 0;
  position: relative;
  border-radius: var(--br-l);
  z-index: 8;
}

.services-img {
  overflow: hidden;
  border-radius: var(--br-l);
  height: 215px;
  position: relative;
}
.services-img::after{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: "";
  background-color: rgba(0, 0, 0, 0.318)
}
.service img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 0.5s;
  scale: 1;
  &:hover {
    scale: 1.05;
  }
}
.swiper-button-next,
.swiper-button-prev {
  svg {
    width: 35px !important;
    height: 35px !important;
    color: rgb(3, 39, 46);
    padding: 6px;
    border-radius: 8px;
  }
}

.service h4 {
  font-size: 20px;
  font-weight: 600;
  color: #161616;
  margin: 25px 0 60px;
}

.swiper-pagination {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 4px;
  .swiper-pagination-bullet {
    width: 100%;
    border-radius: 0;
    height: 0.5px;
    &.swiper-pagination-bullet-active {
      background-color: #161616;
    }
  }
}
.swiper-pagination-bullet:hover {
  opacity: 1;
}
.strategy-section {
  padding: 60px 0;
}

.strategy-section .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.strategy-left {
  background: var(--blue);
  padding: 30px;
  border-radius: var(--br-l);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.strategy-title {
  font-size: 32px;
  font-weight: 800;
  line-height: 1.1;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.strategy-subtitle {
  font-size: 18px;
  line-height: 1.3;
  color: rgba(255,255,255,0.85);
  margin-bottom: 20px;
  max-width: 520px;
}

.strategy-discount {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 30px;
}
.discount-text svg path{
  fill: #fff
}
.discount-text svg{
  width: 80px;
  height: 80px;
}
.discount-text{
  display: flex;
  gap: 5px;
  align-items: center
}

.discount-number {
  font-size: 65px;
  font-weight: 800;
  color: var(--light-green);
}

.discount-text {
  font-size: 18px;
  line-height: 1.3;
}

/* BUTTON */

.strategy-section .all_posts{
  width: fit-content;
}


.btn-icon {
  background: rgba(255,255,255,0.2);
  width: 34px;
  height: 34px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* RIGHT BLOCK */

.strategy-right {
  position: relative;
  border-radius: 32px;
  overflow: hidden;
}

.strategy-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.strategy-right .all_posts{
  position: absolute;
  bottom: 30px;
  left: 30px;
}


.faq-section {
  padding: 60px 0;
}


.faq-subtitle {
  font-size: 16px;
  color: #555;
  margin-bottom: 20px;
}


.faq-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px 20px;
  align-items: start
}

.faq-item {
  background: #fff;
  border-radius: 22px;
  border: 1px solid var(--green);
  overflow: hidden;
  transition: all 0.3s ease;
}


.faq-question {
  width: 100%;
  border-radius: var(--br-l);
  border: none;
  padding: 22px 26px;
  text-align: left;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.faq-icon {
  width: 36px;
  height: 36px;
  border-radius: 10px;
  border: 1px solid #1aa382;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  flex-shrink: 0;
}

.faq-icon svg {
  width: 18px;
  height: 18px;
  transition: transform 0.3s ease;
}


.faq-item.active .faq-icon svg {
  transform: rotate(180deg);
}

.faq-answer {
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
  padding: 0 26px;
  background-color: #fff;
  
}

.faq-answer p {
  font-size: 16px;
  color: #444;
  line-height: 1.3;
  padding: 10px 0;
  
}


.faq-item.active {
  background: #ffffff;
}


.cta-section {
  padding: 60px 0 0 0;
}

.cta-container {
  position: relative;
  border-radius: 36px;
  overflow: hidden;
  padding: 100px 40px;
  background: #0c1216;
  color: #fff;
  margin: 0 10px;
}


.cta-bg {
  position: absolute;
  inset: 0;
  background: url("/assests/img/bg.webp") center/cover no-repeat;
  z-index: 1;
  filter: brightness(0.4);
}

.cta-overlay {
  position: absolute;
  inset: 0;
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0.464),
    rgba(0, 0, 0, 0.748)
  );
  z-index: 2;
}
.cta-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 3;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

.cta-top {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start
}

.cta-worktime {
  font-size: 14px;
  opacity: 0.9;
  margin-bottom: 6px;
}

.cta-phone {
  color: var(--light-green);
  margin-left: 6px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  font-weight: 600;
}

.cta-phone svg {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  display: block;
  fill: var(--light-green);
}
.cta-phone svg path{
  fill: var(--light-green)
}
.cta-time {
  font-size: 14px;
  opacity: 0.8;
}

.cta-section .section-title {
  color: #fff
}

.cta-subtitle {
  font-size: 18px;
  opacity: 0.85;
  margin-bottom: 50px;
}

.cta-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.cta-input-wrap {
  width: 100%;
  max-width: 420px;
  display: flex;
  align-items: center;
  gap: 12px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  padding-bottom: 10px;
}

/* FIXED SVG SIZE */
.cta-input-icon svg {
  width: 18px;
  height: 18px;
  display: block;
}
.cta-input-icon svg path{
  fill: #ffffffd9
}
.cta-input-wrap input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  font-size: 16px;
}

.cta-input-wrap input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}


.cta-checkbox {
  font-size: 14px;
  opacity: 0.9;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  max-width: 520px;
  text-align: left;
}

.cta-checkbox input {
  display: none;
}

.cta-checkbox span {
  width: 16px;
  height: 16px;
  border: 1px solid var(--light-green);
  border-radius: 4px;
  position: relative;
  flex-shrink: 0;
}

.cta-checkbox input:checked + span::after {
  content: "";
  position: absolute;
  inset: 3px;
  background: var(--light-green);
  border-radius: 2px;
}

.cta-checkbox a {
  color: var(--light-green);
  text-decoration: underline;
}
.footer {
  padding: 60px 0 20px 0;
  background: #f3f3f3;
  border-radius: var(--br-l)
}


.footer-top {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 60px;
  margin-bottom: 60px;
}

.footer-col h4{
  font-size: 18px;
  margin-bottom: 16px;
  font-weight: 600;
  padding-bottom: 10px;
  border-bottom: 1px solid #e1e1e1
}

.footer-col a {
  display: block;
  color: #333;
  text-decoration: none;
  margin-bottom: 12px;
  font-size: 15px;
  transition: 0.3s;
}

.footer-col a:hover {
  color: var(--green);
}


.footer-cta {
  background-color: var(--blue);
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
  height: 90px;
  border-radius: var(--br-l) !important;
  padding: 0 30px;
  margin-bottom: 20px;
}

.location{
  display: flex;
  gap: 8px;
  color: #fff;
  margin-left: 30px;
  margin-right: 10px;
}
.location svg{
  width: 18px;
  height: 18px;
}

.footer-bottom {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}
.footer-bottom > a:hover{
  color: var(--light-green)
}
.footer-bottom > a{
  transition: .4s ease;
}
.footer-bottom div{
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer-up {
  width: 56px;
  height: 56px;
  border-radius: 16px;
  background: var(--light-green);
  border: none;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-up:hover {
  transform: translateY(-2px);
}

.footer-bottom p {
  font-size: 14px;
  color: #444;
}

.footer-bottom strong {
  margin-left: 10px;
  margin-right: 4px;
}

.services-section {
  padding: 60px 0;
}


.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.service-card {
  position: relative;
  border-radius: var(--br-l);
  overflow: hidden;
  cursor: pointer;
  height: 320px;
}

.service-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.8s ease;
}
.service-overlay{
  position:absolute;
  inset:0;
  padding:24px;
  background: linear-gradient(
    to top,
    rgba(0,0,0,.95) 0%,
    rgba(0,0,0,.50) 55%,
    rgba(0,0,0,.15) 100%
  );
  overflow:hidden;
}

.service-content{
  --titleH: 72px;           
  position:absolute;
  left:24px;
  right:24px;
  bottom:4%;                  
  display:flex;
  flex-direction:column;
  gap:14px;

  transform: translateY(calc(100% - var(--titleH))); 
  transition: transform .6s cubic-bezier(.22,1,.36,1);
}

.service-title{
  height: var(--titleH);
  display:flex;
  align-items:flex-end;        
}

.service-title h3{
  color:#fff;
  font-size:24px;
  font-weight:800;
  line-height:1.15;
  margin:0;
}

.service-content p{
  margin:0;
  color:#fff;
  font-size:15px;
  line-height:1.5;
}

.service-card:hover .service-content{
  transform: translateY(0);
}

.service-card:hover img{
  transform: scale(1.08);
}




@media (max-width: 992px) {
  .services-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .services-grid {
    grid-template-columns: 1fr;
  }

  .service-card {
    height: 300px;
  }
}


@media (max-width: 992px) {

  .footer-top {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  .footer-cta {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 30px;
  }

  .footer-brand {
    justify-content: center;
  }

  .footer-socials {
    justify-content: center;
  }

  .footer-address {
    justify-content: center;
  }

  .footer-bottom {
    flex-direction: column;
    align-items: flex-start;
  }
}
















@media (max-width: 992px) {
  .strategy-container {
    grid-template-columns: 1fr;
  }

  .strategy-left {
    padding: 40px;
  }

}
